body		{	text-align:		center;
					font-family:		Verdana;
					color:			#BA8C5A;
					background-image:	url(figuren/grond.gif);
					background-repeat:	repeat;			}
		a		{	color:			#BA8C5A;
					text-decoration:	none;			}
		a:hover		{	color:			#FFCC33;
					font-style:		underline;	
					font-weight:		bold;			}
		#foto		{	margin-top:		150px;
					border:			inset 8px gray;		}
		#logo		{	align:			center;
					margin-bottom:		30px;			}