body			{	font-family:		Verdana;
				font-size:		10pt;
				color:			#330000;	
				background-image: 	url(figuren/grond.gif);		
				background-repeat: 	repeat;                             }
#headerHome		{	height:			170px;
				width:			800px;
				color:			#EC9828;
				font-size:		16pt;
				font-weight:		bold;                               }
table th		{	text-align:		right;
				padding-left:		20px;                               }
#kader			{	width:			799px;
				height:			450px;
				margin-left:		-2px;					
				background-color:	#FFF0C5;                            }
#hoofdmenu		{	width:			800px;
				height:			21px;                               }
#hoofdmenu table	{	width:			100%;					
				background-image:	url(figuren/topnav_bg_beige.gif);   }
#hoofdmenu a    	{	color:			#330000;					
				text-decoration:	none;                               }
#hoofdmenu th           {	text-align:		center;                             }
#hoofdmenu th:hover	{	background-image:       url(figuren/topnav_bg_brown.gif);   }